* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 12pt;
    font-weight: bold;
    transition-property: background-color;
    transition-duration: 0.5s;
}

.warning,
.critical,
.urgent {
    animation-name: blink_red;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

window#waybar {
    background-color: transparent;
}

window>box {
    background-color: rgba(0, 0, 0, 0.8);
    padding-left: 8px;
    border: 2px #dfa7e7;
}

tooltip {
    background-color: rgba(22, 22, 22, 0.70);
}

tooltip label {
    color: #E2E0EC;
}

#custom-launcher {
    font-size: 20px;
    padding-left: 8px;
    padding-right: 6px;
    color: #7ebae4;
}

#mode,
#clock,
#memory,
#temperature,
#cpu,
#mpd,
#custom-wall,
#temperature,
#backlight,
#pulseaudio,
#network,
#battery,
#custom-powermenu,
#custom-cava-internal,
#custom-notification,
#power-profiles-daemon,
#window {
    padding-left: 10px;
    padding-right: 10px;
    color: #f2f4f8;
}

/* #mode { */
/* 	margin-left: 10px; */
/* 	background-color: rgb(248, 189, 150); */
/*     color: rgb(26, 24, 38); */
/* } */
#memory {
    color: #f2f4f8;
}

#cpu {
    color: #f2f4f8;
}

#clock {
    color: #78afe3;
}

#pulseaudio {
    color: #f2f4f8;
}

#network {
    color: #f2f4f8;
}

#network.disconnected {
    color: #f2f4f8;
}

#custom-powermenu {
    color: rgb(242, 143, 173);
    padding-right: 8px;
}

#tray {
    padding-right: 8px;
    padding-left: 10px;
}

#cava.left,
#cava.right {
    color: #78afe3;
}

#cava.left {
    border-radius: 10px;
}

#cava.right {}

#workspaces {}

#workspaces button {
    color: #78afe3;
    font-size: 24px;
}

#workspaces button.active {
    color: #78afe3;
}

#workspaces button:hover {
    box-shadow: none;
    text-shadow: none;
    background: none;
    border: none;
}

#workspaces button.urgent {
    color: #11111b;
    background: #fab387;
    border-radius: 10px;
}

#custom-sep {
    color: #75A6D7;
    font-size: 18px;
}